.checklist-done {
    text-decoration: line-through;
    cursor: pointer;
}

.checklist-base {
    text-decoration: none;
    cursor: pointer;
}

.main-container {
    margin-top: 10px;
}

.list-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    margin-bottom: 10px;
}

.list-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.list-item-desc {
    margin-top: 25px;
    width: 100%;
    min-height: 50px;
}

.input-form-checklist {
    cursor: pointer;
}